node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Flutter artifacts
.dart_tool/
.packages
.pub-cache/
.pub/
*.lock
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
